<!-- DROPDOWN -->
<ul id=" dash-dropdown" class="dropdown-content">
    <li><a href="#!" class="grey-text">Lectures</a></li>
    <li><a href="#!" class="grey-text">Status</a></li>
</ul>
<nav class="z-depth-0 grey lighten-4">
    <div class="nav-wrapper container">
        <!-- <a href="#" class="brand-logo">
        <img src="img/logo.svg" style="width: 180px; margin-top: 10px;">
        </a> -->
        <a class="brand-logo grey-text" href="#" id="project-header">School</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li class="logged-in" style="display: none;">
                <a href="#" class="grey-text modal-trigger" data-target="modal-account">Account</a>
            </li>
            
            <li class="logged-in" style="display: none;">
                <a href="#" class="grey-text modal-trigger" data-target="modal-upload">Upload Video</a>
            </li>
            <li class="logged-in" style="display: none;">
                <a class="dropdown-trigger grey-text" href="#!" data-target="dash-dropdown">Dashboard<i
                        class="material-icons right">arrow_drop_down</i></a>
            </li>
            <li class="logged-in" style="display: none;">
                <a href="#" class="grey-text" id="logout">Logout</a>
            </li>
            <li class="logged-out">
                <a href="#" class="right grey-text modal-trigger" data-target="modal-about">About</a>
            </li>
            <li class="logged-out">
                <a href="#" class="grey-text modal-trigger" data-target="modal-login">Login</a>
            </li>
            <li class="logged-out">
                <a href="#" class="grey-text modal-trigger" data-target="modal-signup">Sign up</a>
            </li>
            </span>
        </ul>
    </div>
</nav>